* {
  color: white;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../arquivos/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(100, 100, 170);
  min-height: 85vh;
  min-width: 45vh;
  padding: 2vh 1vh 2vh 1vh;
  border-radius: 2px;
  background: black;
  color: #ffffff;
  box-shadow:
    inset 0 0 8px rgba(100, 100, 200, 0.7),
    0 0 16px rgba(100, 100, 170, 0.4);
  margin: 1vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 10px 30px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  background-color: steelblue;
  text-decoration: none;
}
.endm {
  margin-top: auto;
  align-self: center;
}