* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../arquivos/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 2rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 12px;
}

.menu a {
  text-decoration: none;
  background: #3b82f6;
  padding: 9px 15px;
  border-radius: 5px;
  font-size: 1rem;
}

.menu a:hover {
  background: #2563eb;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#login {
  width: 100%;
  max-width: 1200px;
  min-height: calc(100vh - 120px);
  
  border: 2px solid #6366f1;
  border-radius: 6px;
  
  padding: 20px;
  
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.content a {
  width: fit-content;
  text-decoration: underline;
}

.endm {
  margin-top: auto;
  text-align: center;
  padding-top: 30px;
}

.endm h1 {
  font-size: 1.6rem;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 12px;
  }
  
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logo {
    font-size: 1.9rem;
  }
}