* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url("../arquivos/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.base{
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  width: clamp(280px, 90%, 380px);
  border: 2px solid rgb(90, 90, 130);
  box-shadow:
    inset 0 0 7px rgba(100, 100, 200, 0.6),
    0 0 114px rgba(100, 100, 170, 0.3);
  border-radius: 1rem;
  padding: 2rem;
  background-color: black;
}

button {
  width: 100%;
  color: #ffffff;
  background-color: #2663EB;
  border: 2px solid blue;
}

button:hover {
  box-shadow:
    inset 0 0 10px rgba(100, 100, 200, 0.9),
    0 0 20px rgba(100, 100, 170, 0.6);
  background-color: #2663FF;
}

input,
label {
  display: block;
  color: white;
}

label {
  padding: 0 0 0 10px;
}

input {
  background-color: #1f1f24;
}

input:focus {
  outline: 1px solid darkblue;
  box-shadow:
    inset 0 0 7px rgba(100, 100, 200, 0.6),
    0 0 14px rgba(100, 100, 170, 0.4);
}

a {
  text-decoration: none;
  color: white;
}

h1{
  color: white;
  text-align: center;
}

.dds {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  margin: 10px 0 10px 0;
}
p{
  color: #B0B6C3;
  text-align: center;
}
.rec-sen{
  display: block;
  text-align: end;
  width: 100%;
  margin-bottom: 4px;
}